@import "tailwindcss";

#root {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  height: 100%;
  max-height: 1200px;
  border: 15px orange solid;
}

.main {
  background: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
  justify-items: center;
  width: 100%;
  height: 90%;
  max-height: 990px;
  padding: 0.0rem;
}

.mainProfile {
  background: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
  justify-items: center;
  justify-content: center;
  display: flex;
  flex-direction:column;
  width: 100%;
  height: 100%;
  max-height: 1200px;
}

.restaurant-list {

  width: 100%;
  padding: 0.0rem;
  border-radius: 8px;
  background-color: #ffffff;
  justify-content: center;
  justify-items: center;
  align-items: center;

}

.restaurant-card {

  border: '1px solid #ccc';
  padding: '1rem';
  margin-bottom: '1rem'; 
  border-radius: '8px';

}

.textboi {
  color: black;
}

.titleText {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5vh;
  font-weight: bold;
  color: orange;
  max-width: 680px;
  margin: 0 auto;
}

.title-box {
  display:flex;
  flex-direction: column;
  gap: 1.0rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
}

.page-container {
  flex: 1;
  height: 62vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.profile-container {
  width: 90%;
  max-width: 1000px;
  padding: 0.5rem;
  height: 100vh;
  margin: 0 auto;
  overflow-y: auto;
  margin-top: 1rem;
  justify-content: center;
  justify-items: center;
  -ms-overflow-style: none;
}

.profile-container::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

.basicInfoContainer {
  padding: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin: 0 auto;
  width: 90%;
  border: 5px orange solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  align-content: center;
  position: relative;
}

.info-label {
  position: absolute;
  background-color: white;
  color: orange;
  font-weight: bold;
  font-size: 1.5rem;
  width: 75px;
  height: 30px;
  transform: translate(20px, -38px);
}

.infoText {
  color: orange;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.hour-label {
  position: relative;
  background-color: white;
  color: orange;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100px;
  transform: translate(20px, -39px);
}

.access-button {
  color: orange;
  background-color: white;
  border: 5px orange solid;
  border-radius: 10px;
  width: 43%;
  padding: 0.5rem;
}

.buttonContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.titleBox {
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.5),
   0px -4px 6px -1px rgba(0, 0, 0, 0.5);

}

.hoursContainer {
  position: relative;
  padding: 1rem 0 1rem 0;
  margin-bottom: 3rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  border: 5px orange solid;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  width: 90%;
}

.hours-table {
  width: 100%;
  padding: 0rem 1rem 1rem 1rem;
}

.hours-table table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.3);

}

.hours-table th,
.hours-table td {
  text-align: left;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #ddd;
}

.hours-table th {
  background-color: #f5f5f5;
}

.hours-table tr:nth-child(even) {
  background-color: #fafafa;
}





.hours-row {
  display: flex;
  justify-content: space-between;
}

.day {
  font-weight: bold;
}

.slick-dots {
  display: none;
}

.reviewsContainer {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0.5rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: #fff;
  border: 5px orange solid;
  border-radius: 12px;
}

.reviewCard {
  padding: 1rem;
}

.reviewHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.reviewInfo p {
  margin: 0.2rem 0;
}

.reviewText {
  margin-top: 1rem;
  font-style: italic;
  line-height: 1.4;
  color: black;
}

.reviews-label {
  position: absolute;
  color: orange;
  font-weight: bold;
  font-size: 1.5rem;
  transform: translate(5px, -33px);
  background-color: white;
  height: 30px;
  width: 115px;

}



.site-link-container {
  display: flex;
  flex-direction: row;
  gap: 3;
  width: 100%;
  height: 10vh;
  min-height: 100px;
  padding: 1rem 5% 1rem 5%;
  background-color: white;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.4);
  border-top: 5px orange solid;
  justify-content: center;
  align-items: center;
}

.profile-back-button {
  flex: 0;
  border: 5px orange solid;
  border-radius: 10px;
  color: orange;
  background-color: white;
  margin-bottom: 1rem;

}

.website-button {
  flex: 1;
  margin-left: .5rem;
  margin-bottom: 1rem;
  border: 5px orange solid;
  width: 100%;
  border-radius: 10px;
  color: orange;
  background-color: white;
  transition: background-color 0.2s ease;

}

.website-button:hover {
  background-color: orange;
  color: white;
  border: none;
}

.infoColumn {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  min-width: 45%; /* Allows wrapping on smaller screens */
}

.addressBox {
  height: 100%;
  width: 100%;
}

.addressBox,
.phoneNumberBox,
.priceLevelBox,
.websiteBox,
.categoryBox {
  background: #fff7f0;
  border: 2px solid orange;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.5vh;
}

.splitInfo{
  display: flex;
  justify-content: space-between;
}

.categoryBox, .priceLevelBox {
  width: 49.5%;
}


.cravingContent { 
  background-color: rgb(255, 255, 255);
  display:flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  padding: 7vw;
  padding-top: 10vh;
}

.questionText {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4.5vh;
  font-weight: bold;
  color: orange;
}

.dropdown {
  border: 3px solid orange;
  border-radius: 10px;
  width: 100%;
  margin: 0 1rem 0 1rem;
  padding: 1rem;
  background-color: white;
  color: orange;
  font-size: 24px;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 1000px;
}

.navButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 10vh;
}

.navButton {
  border: 5px solid orange;
  border-radius: 10px;
  background-color: white;
  color: orange;
  font-size: 105%;
  width: 50%;
}

.introTextContainer {
  margin: 7rem 0;
}

.bubble {
  padding: 0.6rem 0.9rem;
  border: 2px solid #ccc;
  border-radius: 9999px;
  background-color: #fff;
  font-size: 0.95rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
  white-space: nowrap;
  color: orange;
  margin: 0 2px 0 2px;
}

.bubble:hover {
  background-color: #f0f0f0;
}

.bubble.selected {
  background-color: orange;
  color: white;
}



.logoBox {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.logo-btn {
  background: none;
}

.dropdown-drawer li {
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: orange;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 3px orange solid;
  transition: background-color 0.2s ease;
}

.restaurantCard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 5px orange solid;
  border-radius: 10px;
  margin: 1rem 0;
  box-shadow: 0px 0px 8px rgba(0,0,0, 0.5);

}

.arrow {
  font-size: 1.5rem;
  font-weight: 300;
  color: orange;
  margin-right: 1rem;
}

.restaurantButton {
  background-color: rgb(255, 255, 255);
  color: orange;
  width: 100%;
  text-align: left;
  padding: 1rem 1rem;
  font-size: 100%;
  cursor: pointer;

}

.buttonContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.restaurantButton h3 {
  color: orange;
  font-size: 150%;
}

.close-btn {
  position: absolute;
  right: 1em;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.closeImg {
  flex: 2;
  width: 30px;
  height: 30px;
  display:block;
}

.drawer-header {
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 60px;
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0 0.5rem 0;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.dropdown-drawer ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  list-style-type: none;
}

.AppContainer {
  position: relative;
  max-width: 500px;;
  padding: 0rem;
  background-color: white;
}

.dropdown-drawer.open {
  height: 25vh; /* You can make this 100vh if you want full screen */
  border-bottom: orange 10px solid;
}

.dropdown-drawer {
  top: 0;
  left: 0;
  position: absolute;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 0; 
  max-height: 100vh;

  padding-left:1rem;
  padding-right:1rem;

  background-color: white;
  overflow: hidden;

  z-index: 999;
  transition: height 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.heading {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: darkblue;
  max-height: 50px;
}

.topbar {
  display:flex;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  padding: 1rem 2.5rem 1rem 2.5rem;
  background-color: white;
}

.hamburger-btn, .search-btn {
  padding: 0;
  margin: 0;
  background: none;
  width: 3.25em;
}

.stepFormBackground {
  gap: 1rem;
  background-color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 61.5%;
  margin: 3em 0em 0em 0em;
  padding: 1rem;
  border-radius: 10px;
}

.logo-box {
  margin-top: 0em;
  margin-bottom: 5em;
}

.logo {
  justify-items: center;
  background: none;
  width: 66%;
  height: 50%;
  will-change: filter;
  transition: filter 300ms;
  scale: 75%;
  min-height: 145px;
  max-width: 300px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.restaurant-lists-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  
}

.results-page-results {

  display:flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  height: 80%;
  align-content: center;
  align-items: center;
  justify-self: center;
  padding: 0 2rem;
  margin: 0 auto;
  border: 5px orange solid;
  border-radius: 10px;

}

.results-page-content {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 89%;
}

@keyframes rotateRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.radiusText {
  color: orange;
  font-size: 2.5vh;
  font-weight: 500;
}

.price-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.grid-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
}

.price-btn, .any-price-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: orange;
  border: 3px orange solid;
  font-weight: bold;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

.price-btn:hover,
.any-price-btn:hover {
  background-color: darkorange;
  color: white;
  border: 3px white solid;

}

.price-btn input,
.any-price-btn input {
  display: none;
}

.price-btn:has(input:checked),
.any-price-btn:has(input:checked) {
  background-color: darkorange;
  color: white;
  border-color: white;
}

.any-price-btn {
  width: 100%;
  max-width: 400px;
}

.radioBox {
  display: flex;
  flex-direction: row;
}

.startButtonWrapper {
  position: relative;
  width: 45vw;
  height: 45vw;
  max-width: 300px;
  max-height: 300px;
  min-width: 80px;
  min-height: 80px;
  justify-content: center;
  margin: 0 auto;
}

.spinningRing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 16px solid none;
  border-top: 35px solid rgb(255, 166, 0);
  animation: rotateRing 2.5s linear infinite;
  box-shadow:
    10px 0 35px 35px rgba(221, 148, 13, 0.5);  /* large soft outer glow */
     /* extended ambient fade */
  z-index: 0;
  pointer-events: none;
}


.startButton {
  background-color: orange; /* Green */
  border: none;
  border-radius: 50%;

  box-shadow:  /* large soft outer glow */
    10px 0 35px 25px rgb(255, 166, 0); /* extended ambient fade */
  width: 45vw;
  height: 45vw;
  max-width: 300px;
  max-height: 300px;
  min-width: 80px;
  min-height: 80px;

  color: white;

  transition: box-shadow 0.3s ease, transform 0.2s ease;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
  margin: 4px 2px;
  cursor: pointer;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: orange;
  border-radius: 50%;
  cursor: pointer;
}

.radiusSlider {
  width: 90%;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  appearance: none;
  outline: #ffa500 3px solid;
  outline-offset: 2px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.midText {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0 5rem 0 5rem;
  font-family:'Franklin Gothic-medium', 'Arial', Arial, sans-serif;
  font-size: 2.5vh;
  font-weight: 600;
  line-height: 1.75em;
  letter-spacing: 0.75vw;
  color: orange;
}

.text {
  font-size: 15px;
  font-weight: 400;
  color: rgb(123, 123, 123);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #696969;
}
